<main>
  <%= render 'users/info', user: @user, book: @book %>

  <div class="col-md-8 offset-md-1 py-3">
    <h2>Users</h2>
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %></th>
          <th><%= user.name %></th>
          <th><%= link_to "Show", user_path(user) %></th>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</main>
